@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Outfit:wght@400;500;600;700;800&display=swap');
@import './tailwind.css';
@import './fonts.css';
@import './theme.css';